/*

global

*/

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
}

input:focus {
  outline: 0;
}

/*

font

*/
input[type="checkbox"]
{
    position:fixed;
    z-index:1;
    top:100px;
    right:100px;
    cursor:pointer;
}

input[type="checkbox"]:checked ~ *
{
    filter:invert(1);
}

.modebutton
{
    text-align:right;
    margin-right:20px;
}


html {
  font-family: Ubuntu, system-ui, sans-serif;
  font-size: 62.5%;
}

@media (max-width: 767px) {
  body {
    font-size: 1.8rem;
    line-height: 1.55;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 2rem;
    line-height: 1.7;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.04em;
  font-weight: 800;
  line-height: 1.15;
}

main > article#newsletter form input {
  font-family: inherit;
  font-size: inherit;
}

@media (max-width: 767px) {
  
  main > article#newsletter abbr {
    text-decoration: none;
  }

  footer {
    font-size: 1.6rem;
  }

}


/*

color

*/

a {
  color: currentColor;
}

header {
  background-color: gold;
}

header nav ul li:nth-of-type(even) {
  background-color: rgba(0,0,0,.05);
}

header nav ul li a:hover {
  background-color: rgba(0,0,0,.1);
}

main {
  background-color: linen;
}

main > article#newsletter form input {
  border-color: currentColor;
}

main > article#newsletter form input[type="email"] {
  background-color: gold;
}

main > article#newsletter form input[type="email"]:focus {
  background-color: lightgreen;
}

main > article#newsletter form input[type="submit"] {
  background-color: linen;
}

footer {
  background-color: lightgray;
}

/*

layout

*/

body {
  margin: 0;
  min-height: 100vh;
}

@media (max-width: 767px) {

  header {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: .3rem solid;
  }

  header h1 {
    display: none;
  }

  header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }

  header nav ul li {
    text-align: center;
  }

  header nav ul li a {
    display: block;
    padding: .5rem 2rem;
    text-decoration: none;
  }

  main {
    padding: 1.5rem;
  }

  main > article {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  main article h2 {
    margin: 0;
  }

  main > article#newsletter form {
    display: grid;
    grid-template-columns: 75% auto;
  }

  main > article#newsletter form input {
    padding: 1.5rem;
    border-style: solid;
    border-width: .3rem;
  }

  main > article#newsletter form input[type="email"] {
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  main > article#newsletter form input[type="submit"] {
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }

  footer {
    padding: 1.5rem 1.5rem 5rem;
  }

}

@media (min-width: 768px) {

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: .3rem solid;
  }

  header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  header nav ul li a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
  }

  main > article {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10rem;
  }

  main > article#newsletter form {
    display: grid;
    grid-template-columns: 75% auto;
  }

  main > article#newsletter form input {
    padding: 2rem;
    border-style: solid;
    border-width: .3rem;
  }

  main > article#newsletter form input[type="email"] {
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  main > article#newsletter form input[type="submit"] {
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
  
  footer {
    padding: 1rem 1rem 10rem 1rem;
    text-align: center;
  }

}
